<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Signin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/signin.css" rel="stylesheet">


  </head>

  <body>
     <div class="bg"></div>

      <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
        <div class="container">

             <div class="masthead clearfix">
                  <div class="inner">
                    <h3 class="masthead-brand">
                      <a href="/main">BucketList</a>
                    </h3>

                    <nav>
                      <ul class="nav masthead-nav">
                        <li class="active">
                        <li><a href="#">Register</a></li>
                        <li><a href="/signin">Sign in</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>

              <form class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only"></label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only"></label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <h2>Or use your google account</h2>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Google</button>
              </form>

        </div> <!-- /container -->
    </div>
    </div>
    </div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
