<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>google registation</title>

    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">
</head>


<body>

    <div class="bg"></div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="container">

             <div class="masthead clearfix">
                  <div class="inner">
                    <h3 class="masthead-brand">
                      <a href="/main">BucketList</a>
                    </h3>

                  </div>
             </div>
        <form class="form-signin">
            <h2 class="form-signin-heading">Please choose a nick</h2>
                <label for="InputNickName" class="sr-only"></label>
                <input type="nickName" id="InputNickName" class="form-control" placeholder="Nick Name" required autofocus>
                     <label>
                <input type="checkbox" value="remember-me"> Remember me</label>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Registrate Nick</button>
        </form>

            </div>

        </div>

      </div>

    </div>

</body>


</html>